<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h1>About</h1>
        <p>
          My name is Magda Konieczna,
          I am a front-end developer based in Bialystok.
          Since December 2019 I work as a junior front-end developer
          at Lublin's company with commercial projects.
        </p>
        <p></p>
        <p>Technologies I use:</p>
        <ul>
          <li>HTML, CSS(SCSS)</li>
          <li>Bootstrap</li>
          <li>Javascript, jQuery</li>
          <li>PHP</li>
          <li>Angular (basics)</li>
        </ul>

      </div>
      <div class="col-12 col-md-6 offset-md-3">
        <img src="../../assets/Magda.png" alt="">
      </div>
    </div>
  </div>

</div>
