<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div *ngFor="let project of projects; let i = index;"
               [ngClass]="{'col-md-12': (i+1)%3 === 0}"
               class="col-12 col-md-6">
            <div class="project">
              <a [routerLink]="['/work', project.id]" class="project_item">
                <img src="{{ project.image }}" alt="">
                <span class="overlay">
                    <h2>{{ project.name }}</h2>
                  </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
