<div id="slogan">
<!--  <div class="bcg-item-1"></div>-->
<!--  <div class="bcg-item-2"></div>-->
<!--  <div id="bombel" class="bombel">-->
<!--    <div class="img-cont">-->
<!--      <span></span>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h1><span>I am Magda</span> and I am a front-end developer from Bialystok. I create transparent websites mostly based on Wordpress.</h1>
        <div class="btn-center">
          <a class="btn magda-btn" routerLink="/about">More about me</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-project-detail></app-project-detail>

