.project-section {
  padding: 80px 0;
  h1, p {
    text-align: center;
  }
  img {
    width: 100%;
  }
  .title-section {
    margin: 15px 0 30px 0;
  }
  .project-image {
    margin: 10px 0 30px 0;
  }
  .project-url {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}
.go-back {
  a {
    cursor: pointer;
    svg {
      transition: .3s;
    }
    &:hover {
      svg {
        transition: .3s;
        transform: translateX(-3px);
      }
    }
  }
}
.magda-btn {
  background: #A2CFC2;
  border: 1px solid #A2CFC2;
  color: #FFF;
  border-radius: 21px;
  padding: 8px 20px;
  &:hover {
    background: transparent;
    color: #A2CFC2;
  }
}
@media (max-width: 767px) {
  .project-section {
    padding: 40px 0;
  }
}
@media (max-width: 470px) {
  .magda-btn {
    width: 100%;
  }
}
